.header__burger-inner {
  position: relative;
  height: 3px;
  width: 100%;
  background-color: white;
  transition: transform 0.5s ease-out;
}

.header__burger-inner::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: white;
  transition: transform 0.1s ease;
}

.header__burger-inner::before {
  content: "";
  position: absolute;
  top: -9px;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: white;
  transition: transform 0.2s ease-out;
}
