.auth-form__submit-btn {
  box-sizing: border-box;
  display: block;
  margin: 173px 0 0 0;
  padding: 14px;
  width: 100%;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: black;
  border: none;
  background-color: rgba(255, 255, 255, 1);
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.auth-form__submit-btn:hover {
  background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (min-width: 992px) {
  .auth-form__submit-btn {
    margin-top: 215px;
  }
}
