.popup-form__save-button {
  display: flex;
  box-sizing: content-box;
  margin-top: 13px;
  background: #000000;
  border-radius: 2px;
  min-height: 50px;
  width: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: opacity 0.6s linear;
  padding: 0;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: white;
}

.popup-form__save-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 719px) {
  .popup-form__save-button {
    min-height: 46px;
    margin-top: 0;
    font-size: 14px;
    line-height: 17px;
  }
}
