.popup {
  transition: all 1s ease;
  z-index: 9;
  opacity: 0;
  pointer-events: none;
}

.popup::before {
  position: fixed;
  content: " ";
  background-color: black;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  opacity: 0.5;
  cursor: pointer;
  transform: scale(1);
}
