.auth-form__link {
  padding: 20px 0 0 0;
  display: block;
  font-size: 14px;
  line-height: 17px;
  color: white;
  text-align: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

@media screen and (min-width: 992px) {
  .auth-form__link {
    padding-top: 15px;
  }
}

.auth-form__link:hover {
  opacity: 0.6;
}
