.profile__avatar-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 125px;
  height: 125px;
  border-radius: 40%;
  background-color: transparent;
  transition: 0.3s;
  object-fit: cover;
}

.profile__avatar-button:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  background-size: 26px;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../../../images/edit.svg");
}
